<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li th:fragment="note_tree(noteDetail, noteList)" th:each="note : ${noteList}"
    th:class="${#lists.isEmpty(note.children)} ? 'hover:bg-gray-500 hover:text-white hover:rounded-md' : ''"
    th:classappend="${#lists.isEmpty(note.children) and note.id == noteDetail.id} ? 'bg-gray-500 rounded-md': ''"
    th:attr="data-note-id=${note.id}, data-note-name=${note.name}, data-note-type=${note.groupYn == 0} ? 'note' : 'group'">
<!--    <div class="absolute left-[-30px] top-[0] ml-[10px]">▤</div>-->
    <div th:if="${note.groupYn == 0}" class="w-[100%] hover:text-white hover:rounded-md m-[0] p-[0]">
        <!--                <i class="fa-regular fa-note-sticky hover:p-[5px] hover:text-[1.5rem]"></i> -->
        <span class="hover:text-[1.5rem] ml-[16px]">📖</span>
        <a th:if="${#lists.isEmpty(note.children)}" th:attr="data-note-id=${note.id}, data-note-type=${note.groupYn}"
           th:text="${note.name}"
           th:href="@{|/note/${note.id}|}"
           class="h-[100%] w-[100%] pr-[16px] py-[8px]"
           onclick="submitWithOpenList(this); return false;"></a>
    </div>
    <!--    </div>-->
    <details
            th:if="${note.groupYn == 1}"
            th:attr="data-note-id=${note.id}, open=${noteUIParam != null and #lists.contains(noteUIParam.openList, note.id)} ? 'true':'false'"
            >
        <summary class="hover:bg-gray-500 hover:text-white hover:rounded-md"
                 th:classappend="${note.id == noteDetail.id} ? 'bg-gray-500 rounded-md': ''">
            <!--            <a th:attr="note-id=${note.id}" th:text="${note.name}" onclick="submitWithOpenList(this)"></a>-->
            <!--            <i class="fa-solid fa-bars hover:p-[5px] hover:text-[1.5rem]" style="color: #ffffff; z-index: 999"></i>-->
            <span class="text-[1rem] hover:text-[1.5rem]">📚</span>
            <a th:text="${note.name}"></a>
        </summary>
        <ul>
            <li th:if="${#lists.isEmpty(note.children)}"
                th:replace="~{/fragments/note_fragment::note_tree(${noteDetail}, ${note.children})}">
            </li>
        </ul>
    </details>
</li>

<div th:fragment="target_list(note, hasChild, checkable)">
    <input th:if="${hasChild and checkable}" type="radio"
           name="destinationId" th:value="${note.id}">
    <a th:if="${hasChild}" th:text="${note.name}"></a>
</div>

<li th:fragment="note_move_tree(noteDetail, noteList, notCheckableList)"
    th:each="note : ${noteList}"
    th:with="noChild = ${#lists.isEmpty(note.children)},
             hasChild = ${!noChild},
             checkable = ${!#lists.contains(notCheckableList, note)},
             onTarget = ${note.id == noteDetail.id}"
    th:class="${noChild and onTarget} ? 'selected-item' : ''">
    <div th:replace="~{/fragments/note_fragment::target_list(${note}, ${noChild}, ${checkable})}"></div>
    <details th:id="${'m_' + note.id}" th:if="${hasChild}">
        <summary th:class="${onTarget} ? 'selected-item' : '' ">
            <div th:replace="~{/fragments/note_fragment::target_list(${note}, ${hasChild}, ${checkable})}"></div>
        </summary>
        <ul>
            <li th:if="${hasChild and onTarget}"
                th:replace="~{/fragments/note_fragment::note_move_tree(${note}, ${note.children}, ${notCheckableList})}">
            </li>
        </ul>
    </details>
</li>
</body>
</html>
