<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li th:fragment="note_tree(noteDetail, noteList)" th:each="note : ${noteList}"
    th:class="${#lists.isEmpty(note.children)} ? 'hover:bg-gray-500 hover:text-white hover:rounded-md' : ''"
    th:classappend="${#lists.isEmpty(note.children) and note.id == noteDetail.id} ? 'bg-gray-500 rounded-md': ''">

    <a th:if="${#lists.isEmpty(note.children)}" th:href="@{|/note/${note.id}|}" th:text="${note.name}"
       onclick="noteEventHandle('left-side-menu-content');"></a>
    <details th:id="${'n_' + note.id}" th:unless="${#lists.isEmpty(note.children)}">
        <summary class="hover:bg-gray-500 hover:text-white hover:rounded-md"
                 th:classappend="${note.id == noteDetail.id} ? 'bg-gray-500 rounded-md': ''">
            <a th:href="@{|/note/${note.id}|}" th:text="${note.name}"
               onclick="noteEventHandle('left-side-menu-content');"></a>
        </summary>
        <ul>
            <li th:if="${#lists.isEmpty(note.children)}"
                th:replace="~{/fragments/note_fragment::note_tree(${noteDetail}, ${note.children})}">
            </li>
        </ul>
    </details>
</li>

<div th:fragment="target_list(note, hasChild, checkable)" class="flex">
    <input th:if="${hasChild and checkable}" type="radio"
           name="destinationId" th:value="${note.id}">
    <a th:if="${hasChild}" th:text="${note.name}"></a>
</div>

<li th:fragment="note_move_tree(noteDetail, noteList, notCheckableList)"
    th:each="note : ${noteList}"
    th:with="noChild = ${#lists.isEmpty(note.children)},
             hasChild = ${!noChild},
             checkable = ${!#lists.contains(notCheckableList, note)},
             onTarget = ${note.id == noteDetail.id}">
    <div th:replace="~{/fragments/note_fragment::target_list(${note}, ${noChild}, ${checkable})}"></div>
<!--    <div class="flex">-->
<!--        <input th:if="${#lists.isEmpty(note.children) and (note.id != noteDetail.id) and checkable}" type="radio"-->
<!--               name="moveTarget">-->
<!--        <a th:if="${#lists.isEmpty(note.children)}" th:text="${checkable + '_' +note.name}"></a>-->
<!--    </div>-->
    <details th:id="${'m_' + note.id}" th:if="${hasChild}">
        <!--             th:with="checkable = ${!#lists.isEmpty(note.children) or (note.id == noteDetail.id)} ? false : true">-->
        <summary>
            <div th:replace="~{/fragments/note_fragment::target_list(${note}, ${hasChild}, ${checkable})}"></div>
<!--            <div th:replace="~{/fragments/note_fragment::target_list(note, !hasChild, isTarget)}"></div>-->
<!--            <div class="flex">-->
<!--                <input th:unless="${#lists.isEmpty(note.children) or (note.id == noteDetail.id)}" type="radio"-->
<!--                       name="moveTarget">-->
<!--                <a th:text="${checkable + '_' + note.id + '_' + noteDetail.id + '_' + note.name}"></a>-->
<!--            </div>-->
        </summary>
        <ul>
            <li th:if="${hasChild and onTarget}"
                th:replace="~{/fragments/note_fragment::note_move_tree(${note}, ${note.children}, ${notCheckableList})}">
            </li>
        </ul>
    </details>
</li>
</body>
</html>
