.toastui-editor-toolbar {
    display: none;
}

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');*/
/*    !*src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');*!*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');*/

html>body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 토스트UI 폰트 적용*/
html>body, html>body .toastui-editor-contents, html>body .ProseMirror,
html>body .toastui-editor-md-code, html>body .toastui-editor-md-code-block
{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:20px;
}
.toastui-editor-contents ul>li:before {
    background-color: #ccc;
    border-radius: 50%;
    content: "";
    height: 5px;
    margin-left: -17px;
    margin-top: 13px;
    width: 5px;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: lightgrey;
    border: lightgrey solid 1px;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
/*@font-face {*/
/*    font-family: 'Font Awesome';*/
/*    font-display: optional;*/
/*    !* 나머지 @font-face 규칙 *!*/
/*}*/
