<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css"/>-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="flex h-[100vh] justify-center items-center">
    <div class="w-[30%] border-[2px] rounded-md border-gray-800 shadow flex justify-center items-center">
        <form th:action method="post">
            <div class="flex flex-col justify-center items-center">
                <div class="font-bold p-[10px] text-[2rem]">CNote</div>
                <div class="flex flex-col ml-[10px]">
                    <input type="text" placeholder="아이디" id="username"
                           class="input input-bordered w-full max-w-xs mb-[5px]" name="username"/>
                    <input type="text" placeholder="비밀번호" id="password"
                           class="input input-bordered w-full max-w-xs mb-[5px]" name="password"/>
                </div>
            </div>
            <div class="flex justify-around mb-[5px]">
                <button class="btn btn-outline" type="submit">로그인</button>
                <a class="btn btn-outline" href="/user/signup">회원가입</a>
            </div>
            <div class="flex justify-center mb-[5px]">
                <a class="btn btn-outline mr-[5px] w-[35%]" href="/oauth2/authorization/google">구글 로그인</a>
                <a class="btn btn-outline mr-[5px] w-[35%]" href="/oauth2/authorization/kakao">카카오 로그인</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>