<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/common"></div>
</head>
<body>
<div th:replace="fragments/common-js"></div>
<dialog id="my_modal_2" class="modal text-black">
    <div class="modal-box">
        <h3 class="font-bold text-lg">노트 이동</h3>

        <!--        <ul id="move-note-modal" class="menu">-->
        <!--        </ul>-->

        <div id="move-note-modal" class="my-menu">

        </div>
        <div>
            <form th:action method="post" onsubmit="return false;">
                <div id="move-btn">
                    <a>OK</a>
                </div>
            </form>
            <form method="dialog">
                <button class="btn move-close">Close</button>
            </form>
        </div>
    </div>
</dialog>

<dialog id="my_modal_1" class="modal text-black">
    <div class="modal-box">
        <h3 class="font-bold text-lg">노트 이름 변경</h3>
        <div>
            <form th:action method="post" onsubmit="return false;">
                <div class="my-[10px]">
                    <input type="text" class="input input-bordered w-full max-w-xs"
                           name="noteName" id="new-item-text">
                </div>
                <div id="rename-btn">
                    <a>OK</a>
                </div>
            </form>
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>
<div class="navbar bg-gray-800 text-white py-[20px] border-b-[3px] border-white">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-[30px]">CNote</a>
    </div>
    <div class="flex justify-end">
        <img class="h-[5%] w-[5%] mr-[10px] rounded-[50%]" src="/img/2023071701753_0.jpg" alt="profile">
        <div class="text-[13px]"><a class="hover:cursor-pointer" onclick="openProfilePop();">profile</a></div>
        <div class="text-white"></div>

        <a class="text-[13px] hover:bg-gray-600 p-[5px] rounded-md" sec:authorize="isAnonymous()" href="/user/login">login</a>
        <a class="text-[13px] hover:bg-gray-600 p-[5px] rounded-md" sec:authorize="isAuthenticated()"
           href="/user/logout">logout</a>

        <ul class="menu menu-horizontal px-1">
            <li>
                <label class="swap swap-rotate hover:text-white hover:bg-gray-600 p-[5px]">
                    <input type="checkbox" id="nav-toggle"/>
                    <i class="swap-off fill-current fa-solid fa-up-right-and-down-left-from-center"></i>
                    <!--                    <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20"-->
                    <!--                         viewBox="0 0 512 512">-->
                    <!--                        <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/>-->
                    <!--                    </svg>-->
                    <i class="swap-on fill-current fa-solid fa-down-left-and-up-right-to-center"></i>
                </label>
            </li>
        </ul>
    </div>
</div>
<div class="main overflow-hidden flex relative">
    <div id="profile-modal">

    </div>
    <div class="left-side-wrap h-[calc(100vh-95px)] flex relative">
        <div class="flex w-[100%]">
            <div class="left-side-menu bg-gray-800 text-white overflow-hidden w-[250px]">
                <div class="flex h-[10%] items-center justify-around border-r-[1px] border-b-[1px] font-bold">
                    <h1 class="text-[1rem] p-[20px] ">노트 목록</h1>
                </div>
                <div class="left-side-menu-content custom-scroll h-[83%] px-[5px] overflow-y-scroll">
                    <form id="noteUIForm">
                        <input type="hidden" name="noteUIParamJson" id="noteUIParamJson">
                        <input type="hidden" id="csrf-header" th:value="${_csrf.headerName}">
                        <input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <div id="note-item-list" class="menu bg-gray-800">
                        </div>
                    </form>
                </div>
                <div id="add-group-note"
                     class="flex items-center text-center justify-center border border-gray-300 hover:bg-gray-300 hover:">
                    <a>새그룹 추가</a>
                </div>
            </div>
            <div class="side-control-bar w-[5px] h-[100%] bg-gray-800 hover:cursor-move"></div>
            <div class="custom-scroll relative left-second-menu-content min-w-[150px] bg-gray-800 text-white overflow-scroll w-[250px]">
                <div class="h-[10%] flex items-center justify-around border-white border-b">
                    <h1 class="text-[1rem] p-[20px] font-bold">페이지 목록</h1>
                    <div id="add-page-btn">
                    </div>
                </div>
                <div id="page-item-list" class="p-[10px]">
                </div>
                <div id="search-area" class="absolute top-[90%] w-[90%]">
                    <!--                    <form th:action="@{|/note/${noteDetail.id}/page/${pageDetail.id}|}"-->
                    <!--                          class="flex relative justify-between items-center" onsubmit="return false;">-->
                    <input type="text" placeholder="Search" name="keyword"
                           class="input input-bordered text-black w-full max-w-xs"
                           id="search-input" autocomplete="off">
                    <div id="search-box"
                         class="searchBox hidden absolute z-10 bottom-[100%] left-[0] bg-gray-600 bg-opacity-[98%] h-[50vh] w-[100%] p-[20px]">
                        <div class="content border h-[100%] border-white overflow-scroll">
                            <ul id="search-result-list" class="m-[10px]">
                            </ul>
                            <!--                                <ul class="m-[10px]" th:if="${searchedResult}">-->
                            <!--                                    <li th:each="note : ${searchedResult.searchedNoteList}"-->
                            <!--                                        class="hover:bg-gray-400 px-[0.5rem]"><a-->
                            <!--                                            th:href="@{|/note/${note.id}?keyword=${searchedResult.keyword}|}"-->
                            <!--                                            class="inline-block w-[100%]" th:text="${note.name}"-->
                            <!--                                            th:classappend="${note.id == noteDetail.id} ? 'bg-gray-400' : ''"></a></li>-->
                            <!--                                    <li th:unless="${#lists.isEmpty(searchedResult.searchedNotePageList)}"-->
                            <!--                                        th:each="notePage : ${searchedResult.searchedNotePageList}"-->
                            <!--                                        class="hover:bg-gray-400 px-[0.5rem]">-->
                            <!--                                        <a-->
                            <!--                                                class="inline-block w-[100%]"-->
                            <!--                                                th:classappend="${notePage.id == noteDetail.id} ? 'bg-gray-400':'' "-->
                            <!--                                                th:text="${notePage.title}"></a></li>-->
                            <!--                                </ul>-->
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="side-control-bar w-[5px] h-[100%] bg-gray-800 hover:cursor-move"></div>
        </div>
    </div>
    <div class="content h-[100vh-94px] w-[100%] overflow-x-hidden overflow-y-hidden">
        <div id="content-header" class="content-header flex justify-between">
        </div>
        <div th:replace="~{fragments/toast_editor::test}">
        </div>
    </div>
</div>
<form th:action="@{/note/${noteDetail.id}/page/delete}" id="delete" method="post"></form>
<script type="module" src="/js/main.js"></script>
</body>
</html>