<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/common"></div>
</head>
<body>
<div th:replace="fragments/common-js"></div>
<div class="navbar bg-gray-800 text-white py-[20px] border-b-[3px] border-white">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-[30px]">CNote</a>
    </div>
    <div class="flex justify-end">
        <img class="h-[5%] w-[5%] mr-[10px] rounded-[50%]" src="/img/2023071701753_0.jpg" alt="profile">
        <div class="text-[13px]"><a class="hover:cursor-pointer" onclick="openProfilePop();">profile</a></div>
        <div class="text-white"></div>

        <a class="text-[13px] hover:bg-gray-600 p-[5px] rounded-md" sec:authorize="isAnonymous()" href="/user/login">login</a>
        <a class="text-[13px] hover:bg-gray-600 p-[5px] rounded-md" sec:authorize="isAuthenticated()"
           href="/user/logout">logout</a>

        <ul class="menu menu-horizontal px-1">
            <li>
                <label class="swap swap-rotate hover:text-white hover:bg-gray-600 p-[5px]">
                    <input type="checkbox" id="nav-toggle"/>
                    <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         viewBox="0 0 512 512">
                        <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/>
                    </svg>
                    <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         viewBox="0 0 512 512">
                        <polygon
                                points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/>
                    </svg>
                </label>
            </li>
        </ul>
    </div>
</div>
<div class="main overflow-hidden flex relative">
    <div id="profile-modal">

    </div>
    <div class="left-side-wrap h-[calc(100vh-95px)] flex relative">
        <div class="flex w-[100%]">
            <div class="left-side-menu bg-gray-800 text-white overflow-hidden w-[250px]">
                <div class="flex h-[10%] items-center justify-around border-r-[1px] border-b-[1px] font-bold">
                    <h1 class="text-[1rem] p-[20px] ">노트 목록</h1>
                </div>
                <div class="left-side-menu-content custom-scroll h-[83%] px-[5px] overflow-y-scroll">
                    <form id="noteUIForm">
                        <input type="hidden" name="noteUIParamJson" id="noteUIParamJson">
                        <input type="hidden" id="csrf-header" th:value="${_csrf.headerName}">
                        <input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <ul id="note-item-list" class="menu bg-gray-800">
                        </ul>
                    </form>
                </div>
                <script src="/async_note.js"></script>
                <div id="async">

                </div>

                <div class="flex items-center text-center justify-center border border-gray-300 ">
                    <form th:action="@{/note/add-group}" method="post">
                        <input type="submit" value="새그룹 추가">
                    </form>
                    <dialog id="my_modal_1" class="modal text-black">
                        <div class="modal-box">
                            <h3 class="font-bold text-lg">노트 이름 변경</h3>
                            <div>
                                <form th:action method="post" onsubmit="return false;">
                                    <div class="my-[10px]">
                                        <input type="text" class="input input-bordered w-full max-w-xs"
                                               name="noteName" id="new-note-name">
                                    </div>
                                    <div>
                                        <a th:href="@{|/api/notes/update/${noteDetail.id}|}" class="btn"
                                           th:onclick="renameNote(this, [[${noteDetail.id}]]); return false;">Ok</a>
                                    </div>
                                </form>
                                <form method="dialog">
                                    <button class="btn">Close</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                </div>
            </div>
            <div class="side-control-bar w-[5px] h-[100%] bg-gray-800 hover:cursor-move"></div>
            <div class="custom-scroll left-second-menu-content min-w-[150px] bg-gray-800 text-white overflow-scroll w-[250px]">
                <div class="h-[10%] flex items-center justify-around border-white border-b">
                    <h1 class="text-[1rem] p-[20px] font-bold">페이지 목록</h1>
                    <div class="border p-[5px] hover:bg-gray-300 hover:text-black">
                        <a data-uri="/api/pages/add" onclick="addNotePage(this); return false;">+</a>
                    </div>
                </div>
                <ul id="page-item-list">

                </ul>
                <div class="absolute top-[90%]">
                    <form th:action="@{|/note/${noteDetail.id}/page/${pageDetail.id}|}"
                          class="flex relative justify-between items-center">
                        <input type="text" placeholder="Search" name="keyword"
                               class="input input-bordered text-black w-full max-w-xs"
                               id="search-input" autocomplete="off">
                        <input type="submit" class="btn text-white hover:text-black" value="search">
                        <div class="searchBox hidden absolute z-10 bottom-[100%] left-[0] bg-gray-600 bg-opacity-[98%] h-[50vh] w-[100%] p-[20px]">
                            <div class="content border h-[100%] border-white overflow-scroll">
                                <ul class="m-[10px]" th:if="${searchedResult}">
                                    <li th:each="note : ${searchedResult.searchedNoteList}"
                                        class="hover:bg-gray-400 px-[0.5rem]"><a
                                            th:href="@{|/note/${note.id}?keyword=${searchedResult.keyword}|}"
                                            class="inline-block w-[100%]" th:text="${note.name}"
                                            th:classappend="${note.id == noteDetail.id} ? 'bg-gray-400' : ''"></a></li>
                                    <li th:unless="${#lists.isEmpty(searchedResult.searchedNotePageList)}"
                                        th:each="notePage : ${searchedResult.searchedNotePageList}"
                                        class="hover:bg-gray-400 px-[0.5rem]">
                                        <a
                                                class="inline-block w-[100%]"
                                                th:classappend="${notePage.id == noteDetail.id} ? 'bg-gray-400':'' "
                                                th:text="${notePage.title}"></a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="side-control-bar w-[5px] h-[100%] bg-gray-800 hover:cursor-move"></div>
        </div>
    </div>
    <div class="content h-[100vh-94px] w-[100%] overflow-x-hidden overflow-y-hidden">
        <form id="updateForm" th:action="@{|/note/${noteDetail.id}/page/update|}" method="post" onsubmit="return false">
            <div class="flex justify-between">

                <input class="title block border-b-[1px] font-bold p-[10px] mb-[10px] focus:outline-none" type="text"
                       name="title">
                <a href="#" class="font-bold text-red-500 p-[10px]"
                   onclick="confirmDelete()">X</a>
            </div>
            <div>
                <input type="hidden" name="pageId" th:value="${pageDetail.id}">
                <input type="hidden" name="content">
            </div>
        </form>
        <div th:replace="~{fragments/toast_editor::test}">
        </div>
    </div>
</div>
<form th:action="@{/note/${noteDetail.id}/page/delete}" id="delete" method="post"></form>
<script src="/note_list_ui.js"></script>
<script th:inline="javascript">

    let noteUIParam = [[${noteUIParam}]];
    if (noteUIParam != null) {
        initScrollPosition(noteUIParam.noteSideScrollPosition, noteUIParam.pageSideScrollPosition);
    }

    sideControlBars = document.querySelectorAll(".side-control-bar");
    let isDragging = false;
    let onDragTarget = null;
    sideControlBars.forEach(function (item) {
        item.addEventListener("mousedown", function (e) {
            isDragging = true;
            onDragTarget = e.target;
            console.log(onDragTarget);
        });
    });

    document.querySelector(".main").addEventListener("mousemove", function (e) {
        if (isDragging) {
            let target = onDragTarget.previousElementSibling;
            let standard = e.pageX + onDragTarget.clientWidth / 2;
            if (standard >= e.clientX) {
                target.style.transform = "scaleX(0.99)";
            } else {
                target.style.transform = "scaleX(1.01)";
            }

            target.style.width = e.clientX - target.getBoundingClientRect().x + "px";
            target.style.transform = "scaleX(1)";
        }
    });

    document.querySelector("body").addEventListener("mouseup", function (e) {
        if (isDragging) {
            // document.querySelector(".main").style.cursor = 'default';
            isDragging = false;
        }
    });
    let body = document.querySelector("body");
    let searchBox = document.querySelector(".searchBox");
    let searchInput = document.querySelector("#search-input");

    searchInput.addEventListener('focusin', function (e) {
        searchBox.style.display = 'block';
    });

    if (searchInput.value !== '') {
        searchBox.style.display = 'block';
    }

    searchInput.addEventListener('focusout', function (e) {
        searchBox.style.display = 'none';
    });

    body.addEventListener('click', function (e) {
        if (e.target.id !== 'search-input') {
            searchBox.style.display = 'none';
        }
        if (e.target.id !== 'note-menu-popup' && document.querySelector("#note-menu-popup") !== null) {
            body.removeChild(document.querySelector("#note-menu-popup"));
        }
    });

    function openProfilePop() {
        let html = `
        <div class="w-[500px] h-[600px] bg-blue-500 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-[999] flex flex-col justify-around items-center">
            <div class="w-[50%] h-[40%]">
                <img class="bg-gray-300 rounded-[50%]" src="/img/2023071701753_0.jpg" alt="profile-img">
            </div>
            <div>
                <form th:action="@{/member/profile}" method="post" enctype="multipart/form-data">
                    <input type="file" class="btn">
                </form>
            </div>
            <div>
                <input class="btn" type="button" value="닫기" onclick="document.querySelector('#profile-modal').innerHTML = '';">
            </div>
        </div>
        `
        document.querySelector("#profile-modal").innerHTML = html;

    }

    function setNoteSideMenu(uiParam) {
        const noteWidth = uiParam.noteWidth;
        const leftSideMenu = document.querySelector(".left-side-menu");
        leftSideMenu.setAttribute("class", "left-side-menu bg-gray-800 text-white overflow-hidden w-[" + noteWidth + "px] min-w-[150px]");
    }

    function setPageSideMenu(uiParam) {
        const pageWidth = uiParam.pageWidth;
        const leftSecondMenuContent = document.querySelector(".left-second-menu-content");
        leftSecondMenuContent.setAttribute("class", "custom-scroll left-second-menu-content bg-gray-800 text-white overflow-scroll w-[" + pageWidth + "px] min-w-[150px]");
    }

    function createNotePageItem(notePageDto) {
        console.log(notePageDto);
        let pageClass = "hover:bg-gray-500 hover:text-white hover:rounded-md";
        let pageLinkClass = "block p-[10px] text-[15px] hover:cursor-pointer";
        return `
            <li class="${pageClass}" id="page-${notePageDto.id}" data-page-title="${notePageDto.title}">
                <a class="${pageLinkClass}" id="page-${notePageDto.id}" onclick="getContent(${notePageDto.id});">${notePageDto.title}</a>
            </li>
        `
    }

    function createNotePage(pageDtoList) {
        return `
            ${pageDtoList.map((notePageDto) => {
            return `${createNotePageItem(notePageDto)}`;
        }).join('')}
        `
    }

    function renderingNotePage(data) {
        setPageSideMenu(data.noteUIParam);
        const pageItemList = document.querySelector("#page-item-list");
        const html = `
            ${createNotePage(data.notePageDtoList)}
        `;

        pageItemList.innerHTML = html;
    }

    function renderingNoteTree(data) {
        console.log(data);
        setNoteSideMenu(data.noteUIParam);
        setPageSideMenu(data.noteUIParam);

        const noteItemList = document.querySelector("#note-item-list");

        const html = `
            ${createNoteTree(data.noteTree, data.noteUIParam)}
        `;

        noteItemList.innerHTML = html;
    }

    function createNoteTree(noteList, noteUIParam) {
        return `
            ${noteList.map((note) => {
            return `${createNoteItem(note, noteUIParam)}`;
        }).join('')}
        `
    }

    function createChildNoteTree(note, noteUIParam, noteItemClass, noteAnchorClass, recurFunc) {
        return `
            <details data-note-id="${note.id}" ${noteUIParam.openList.includes(note.id) ? "open" : ""}>
                <summary class="${noteItemClass}"><a class="${noteAnchorClass}">${note.name}</a></summary>
                <ul>
                    ${note.children.length > 0 ? recurFunc(note.children, noteUIParam) : ''}
                </ul>
            </details>
        `
    }

    function createNoteItem(note, noteUIParam) {
        let noteItemClass = "hover:bg-gray-500 hover:text-white hover:rounded-md";
        let groupItemClass = note.groupYn === 0 ? noteItemClass : "";
        let noteAnchorClass = "min-w-[120px]";

        return `
            <li id="${'note-' + note.id}" data-note-name="${note.name}" data-note-type="${note.groupYn}" class="${groupItemClass}">
                ${note.groupYn === 0 ? `<a class=${noteAnchorClass} onclick="getPages(${note.id});">${note.name}</a>` : ``}
                ${note.groupYn === 1 ? createChildNoteTree(note, noteUIParam, noteItemClass, noteAnchorClass, createNoteTree) : ''}
            </li>
        `
    }

    function postFetch(url, jsonData, callback) {

        const headerName = document.querySelector("#csrf-header").value;
        const token = document.querySelector("#csrf-token").value;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [headerName]: token
            },
            body: jsonData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                callback(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


    function changeSelectedItem(currentItemId, prevItemId, customClass) {

        const currentItem = document.querySelector("#" + currentItemId);
        const prevItem = document.querySelector("#" + prevItemId);
        //
        let originClass = currentItem.getAttribute("class")
        let newClass = originClass + customClass;
        //
        currentItem.setAttribute("class", newClass);
        if (prevItem != null) {
            prevItem.setAttribute("class", originClass);
        }
    }

    let selectedNoteId = null;
    let prevNotePageIdNo = null;
    let prevNoteIdNo = null;

    function getContent(notePageIdNo) {

        const url = "/api/notes/pages/" + notePageIdNo;
        const noteUIParamJson = getNoteUIParamJsonStr();

        postFetch(url, noteUIParamJson, function (data) {

            const titleInput = document.querySelector(".title");
            titleInput.value = data.notePageDto.title;
            editor.setMarkdown(data.notePageDto.notePageDetailDto.content);

            const itemPrefix = "page-";
            const currentItemId = itemPrefix + notePageIdNo;
            const prevItemId = itemPrefix + prevNotePageIdNo;
            const customClass = " bg-gray-500 text-white rounded-md";

            changeSelectedItem(currentItemId, prevItemId, customClass);
            prevNotePageIdNo = notePageIdNo;

        });
    }


    function getPages(noteIdNo) {
        const url = "/api/notes/" + noteIdNo + "/pages";
        const noteUIParamJson = getNoteUIParamJsonStr();

        postFetch(url, noteUIParamJson, function (data) {
            renderingNotePage(data);
            addContextMenuEventToPage();
            const itemPrefix = "note-";
            const currentItemId = itemPrefix + noteIdNo;
            const prevItemId = itemPrefix + prevNoteIdNo;
            const customClass = " bg-gray-500 text-white rounded-md";

            changeSelectedItem(currentItemId, prevItemId, customClass);
            prevNoteIdNo = noteIdNo;
            selectedNoteId = currentItemId;
        });
    }

    function getNotes(noteUIParamJson) {
        const url = "/api/notes";

        postFetch(url, noteUIParamJson, function (data) {
            renderingNoteTree(data);
            addContextMenuEventToNote();
        });
    }

    getNotes(getNoteUIParamJsonStr());


</script>

</body>
</html>