<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="/global.css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
    />
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/995c486c09.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar bg-gray-800 text-white py-[20px] border-b-[3px] border-white">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-[30px]">CNote</a>
        <i class="fa-solid fa-magnifying-glass mr-[10px]"></i>
        <div class="w-[35%]">
            <form th:action="@{|/note/${noteDetail.id}/page/${pageDetail.id}|}"
                  class="flex relative justify-between items-center">
                <input type="text" placeholder="Search" name="keyword"
                       class="input input-bordered text-black w-full max-w-xs"
                       id="search-input" autocomplete="off"
                       th:if="${searchedResult}"
                       th:value="${searchedResult.keyword}">
                <input type="submit" class="btn text-white hover:text-black" value="search">
                <div class="searchBox hidden absolute z-10 top-[100%] left-[0] bg-gray-600 bg-opacity-[98%] h-[50vh] w-[100%] p-[20px]">
                    <div class="content border h-[100%] border-white overflow-scroll">
                        <ul class="m-[10px]" th:if="${searchedResult}">
                            <li th:each="note : ${searchedResult.searchedNoteList}"
                                class="hover:bg-gray-400 px-[0.5rem]"><a
                                    th:href="@{|/note/${note.id}?keyword=${searchedResult.keyword}|}"
                                    class="inline-block w-[100%]" th:text="${note.name}"
                                    th:classappend="${note.id == noteDetail.id} ? 'bg-gray-400' : ''"></a></li>
                            <li th:unless="${#lists.isEmpty(searchedResult.searchedNotePageList)}"
                                th:each="notePage : ${searchedResult.searchedNotePageList}"
                                class="hover:bg-gray-400 px-[0.5rem]"><a
                                    th:href="@{|/note/${notePage.note.id}/page/${notePage.id}?keyword=${searchedResult.keyword}|}"
                                    class="inline-block w-[100%]"
                                    th:classappend="${notePage.id == noteDetail.id} ? 'bg-gray-400':'' "
                                    th:text="${notePage.title}"></a></li>
                        </ul>
                    </div>
                </div>
            </form>
            <script>
                let body = document.querySelector("body");
                let searchBox = document.querySelector(".searchBox");
                let searchInput = document.querySelector("#search-input");

                searchInput.addEventListener('focusin', function (e) {
                    console.log('hihi');
                    searchBox.style.display = 'block';
                });

                if (searchInput.value !== '') {
                    searchBox.style.display = 'block';
                }

                // searchInput.addEventListener('focusout', function (e) {
                //     searchBox.style.display = 'none';
                // });

                body.addEventListener('click', function (e) {
                    console.log('aaa' + e.target.id);
                    if (e.target.id !== 'search-input') {
                        searchBox.style.display = 'none';
                    }
                });
            </script>
        </div>
    </div>
    <div class="flex-none">
        <div class="text-white"></div>

        <a class="text-[13px] hover:bg-gray-600 p-[5px] rounded-md" sec:authorize="isAnonymous()" href="/user/login">login</a>
        <a class="text-[13px] hover:bg-gray-600 p-[5px] rounded-md" sec:authorize="isAuthenticated()"
           href="/user/logout">logout</a>

        <ul class="menu menu-horizontal px-1">
            <li>
                <label class="swap swap-rotate hover:text-white hover:bg-gray-600 p-[5px]">
                    <input type="checkbox" id="nav-toggle"/>
                    <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         viewBox="0 0 512 512">
                        <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/>
                    </svg>
                    <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         viewBox="0 0 512 512">
                        <polygon
                                points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/>
                    </svg>
                </label>
            </li>
        </ul>
    </div>
</div>
<!--    <div class="main h-[750px] overflow-hidden">-->
<div class="main h-[calc(100vh-95px)] overflow-hidden flex relative">
    <div class="left-side-wrap flex relative">
        <div class="left-side-inner flex w-[100%]">
            <div class="left-side-menu origin-left bg-gray-800 text-white overflow-hidden">
                <div class="flex h-[10%] items-center justify-around border-r-[1px] border-b-[1px] font-bold">
                    <h1 class="text-[1rem] p-[20px] ">노트 목록</h1>
                </div>
                <div class="custom-scroll left-side-menu-content w-[100%] h-[83%] px-[5px] overflow-y-scroll">
                    <ul class="menu bg-gray-800">
                        <li th:replace="fragments/note_fragment::note_tree(${noteDetail}, ${noteList})"></li>
                    </ul>
                </div>

                <div class="h-[7%] w-[100%] flex items-center text-[7px] text-center border border-gray-300 ">
                    <form th:action="@{/note/add}" method="post" class="w-[15%] mr-[10px] border border-white">
                        <input type="submit" value="추가" onclick="noteEventHandle()">
                    </form>
                    <form th:action="@{/note/add-group}" method="post"
                          class="w-[15%] mr-[10px] border border-white overflow-hidden">
                        <input type="hidden" name="noteId" th:value="${teDetail.id}">
                        <input type="submit" value="하위노트추가" onclick="noteEventHandle()">
                    </form>
                    <a th:href="@{|/note/delete/${noteDetail.id}|}"
                       class="w-[15%] mr-[10px] border border-white overflow-hidden" onclick="noteEventHandle()">삭제</a>
                    <!--                        <a class="block bg-gray-800 text-[17px] font-bold text-center text-white hover:bg-gray-500"-->
                    <!--                           th:href="@{|/note/add|}" onclick="scrollDown()">+ 하위노트 추가</a>-->
                    <div>
                        <!--                        <form th:action="@{|/note/update/${noteDetail.id}|}" method="post">-->
                        <!--                            <input class="text-black" type="text"-->
                        <!--                                   name="noteName"-->
                        <!--                                   th:value="${noteDetail.name}">-->
                        <!--                            <input class="border border-white" type="submit" value="이름변경">-->
                        <!--                        </form>-->
                        <!--                        <a href="#" class="w-[20%] mr-[10px] border border-white overflow-hidden" onclick="popInput()">이름변경</a>-->
                        <!-- Open the modal using ID.showModal() method -->
                        <a href="#" class="w-[15%] mr-[10px] border border-white overflow-hidden"
                           onclick="my_modal_1.showModal(); noteEventHandle('left-side-menu-content')">이름 변경</a>
                        <dialog id="my_modal_1" class="modal text-black">
                            <div class="modal-box">
                                <h3 class="font-bold text-lg">노트 이름 변경</h3>
                                <div>
                                    <form th:action="@{|/note/update/${noteDetail.id}|}" method="post">
                                        <div class="my-[10px]">
                                            <input type="text" class="input input-bordered w-full max-w-xs"
                                                   name="noteName" th:value="${noteDetail.name}">
                                        </div>
                                        <div>
                                            <button class="btn">Ok</button>
                                        </div>
                                    </form>
                                    <form method="dialog">
                                        <button class="btn">Close</button>
                                    </form>
                                </div>
                            </div>
                        </dialog>
                        <script th:inline="javascript">
                            function popInput() {
                                document.querySelector();
                            }
                        </script>
                        <div class="inline-block">
                            <a href="#" class="w-[15%] mr-[10px] border border-white overflow-hidden"
                               onclick="my_modal_4.showModal()">open modal</a>
                            <dialog id="my_modal_4" class="modal text-black">
                                <div class="modal-box w-[25%] h-[60%]">
                                    <h3 class="font-bold text-lg mb-[10px]">노트 이동</h3>
                                    <form th:action="@{/note/move}" method="post">
                                        <input type="hidden" name="moveTargetId" th:value="${noteDetail.id}">
                                        <div class="move-tree overflow-scroll h-[75%] border">
                                            <ul class="menu">
                                                <!--                                            <li th:replace="fragments/note_fragment::note_move_tree(${noteDetail}, ${noteList}, 1)" onclick="noteEventHandle('move-tree')"></li>-->
                                                <li th:replace="fragments/note_fragment::note_move_tree(${noteDto.currentNote}, ${noteDto.parentList}, ${noteDto.notCheckableList})"
                                                    onclick="noteEventHandle('move-tree')"></li>
                                            </ul>
                                        </div>
                                        <div class="modal-action">
                                            <button class="btn btn-xs">이동</button>
                                        </div>
                                    </form>
                                    <div class="flex justify-around">
                                        <div class="modal-action">
                                            <form method="dialog" class="flex justify-around">
                                                <button class="btn btn-xs">취소</button>
                                            </form>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-control-bar w-[5px] h-[100%] bg-gray-800 hover:cursor-move"></div>
            <div class="left-second-menu-content origin-left custom-scroll bg-gray-800 text-white overflow-scroll">
                <div class="flex justify-between items-center flex-wrap border-b-[1px]">
                    <h1 class="text-[1rem] p-[20px] font-bold">페이지 목록</h1>
                    <div class="m-[1rem]"
                         th:with="url=@{|/note/${noteDetail.id}/page/${pageDetail.id}?keyword=${searchedResult.keyword}&sort=|},
                                 classBtn='btn btn-xs'">
                        <a th:href="${url+'updateDate'}" th:class="${classBtn}">수정일</a>
                        <a th:href="${url+'createDate'}" th:class="${classBtn}">작성일</a>
                        <a th:href="${url+'title'}" th:class="${classBtn}">제목</a>
                    </div>
                    <script>
                        let sortBtn = document.querySelector(".sort");
                    </script>
                </div>
                <ul th:each="notePage : ${notePageList}">
                    <li th:with="customClass=${notePage.id == pageDetail.id} ? 'bg-gray-500 border-b-[3px]' : 'border-b-[1px]'"
                        th:class="|${customClass}|">
                        <a class="block p-[10px] text-[15px] border-b-[1px]"
                           th:href="@{|/note/${noteDetail.id}/page/${notePage.id}|}"
                           th:text="${notePage.title}" th:id="|article_${notePage.id}|"
                           onclick="setScroll('left-second-menu-content');"></a>
                    </li>
                </ul>
            </div>
            <div class="side-control-bar w-[5px] h-[100%] bg-gray-800 hover:cursor-move"></div>
        </div>
        <script>
            sideControlBars = document.querySelectorAll(".side-control-bar");
            let isDragging = false;
            let onDragTarget = null;
            sideControlBars.forEach(function (item) {
                item.addEventListener("mousedown", function (e) {
                    isDragging = true;
                    onDragTarget = e.target;
                    console.log(onDragTarget);
                });
            });

            document.querySelector(".main").addEventListener("mousemove", function (e) {
                if (isDragging) {
                    let target = onDragTarget.previousElementSibling;
                    let standard = e.pageX + onDragTarget.clientWidth / 2;
                    if (standard >= e.clientX) {
                        target.style.transform = "scaleX(0.99)";
                    } else {
                        target.style.transform = "scaleX(1.01)";
                    }

                    target.style.width = e.clientX - target.getBoundingClientRect().x + "px";
                    target.style.transform = "scaleX(1)";
                }
            });

            document.querySelector("body").addEventListener("mouseup", function (e) {
                if (isDragging) {
                    // document.querySelector(".main").style.cursor = 'default';
                    isDragging = false;
                }
            });
        </script>

    </div>
    <div class="content h-[100vh-94px] w-[100%] overflow-x-hidden overflow-y-hidden">
        <form id="updateForm" th:action="@{|/note/${noteDetail.id}/page/update|}" method="post" onsubmit="return false">
            <div class="flex justify-between">

                <input class="block border-b-[1px] font-bold p-[10px] mb-[10px] focus:outline-none" type="text"
                       name="title"
                       th:value="${pageDetail.title}">
                <span th:text="${pageDetail.updateDate + ', ' + pageDetail.createDate}"></span>
                <a href="#" class="font-bold text-red-500 p-[10px]"
                   onclick="confirmDelete()">X</a>
            </div>
            <div>
                <input type="hidden" name="pageId" th:value="${pageDetail.id}">
                <input type="hidden" name="content">
            </div>
        </form>
        <div th:replace="/fragments/toast_editor::test">
        </div>
        <div class="flex w-[100%]">
            <label>태그</label>
            <div>
                <ul class="flex">
                    <li class="mr-[0.3rem]" th:each="tag : ${pageDetail.tagList}" th:text="${tag.name}"></li>
                </ul>
                <form th:action="@{/tag/add}" method="post">
                    <input type="hidden" name="noteId" th:value="${noteDetail.id}">
                    <input type="hidden" name="pageId" th:value="${pageDetail.id}">
                    <input type="text" name="tagName" class="border mt-[10px]">
                    <input type="submit" value="추가" class="btn btn-md">
                </form>
            </div>
        </div>
    </div>
    <div th:if="${resultMsg}" class="toast toast-top toast-center">
        <div class="alert alert-info">
            <span th:text="${resultMsg}"></span>
        </div>
    </div>
    <script>
        setTimeout(function () {
            if (document.querySelector('.toast')) {
                document.querySelector('.toast').style.opacity = '0';
                document.querySelector('.toast').style.transition = '1s';
                setTimeout(function () {
                    document.querySelector('.toast').style.display = 'none';
                }, 1000);

            }
        }, 2000);
    </script>
</div>
<form th:action="@{/note/${noteDetail.id}/page/delete}" id="delete" method="post"></form>
<script src="/note_list_ui.js"></script>
</body>
</html>